<amplify-authenticator>
  <div>
    Vegetable Shop
    <amplify-sign-out></amplify-sign-out>
  </div>
  <div class="form-body">
    <form autocomplete="off" [formGroup]="createForm"
          (ngSubmit)="onSubmit(createForm.value)">
      <div>
        <label>Vegetable: </label>
        <input type="text" formControlName="name" autocomplete="off">
      </div>
      <div>
        <label>Description: </label>
        <input type="text" formControlName="description" autocomplete="off">
      </div>
      <div>
        <label>City: </label>
        <input type="text" formControlName="city" autocomplete="off">
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>

  <div *ngFor="let vegetable of vegetables">
    <div>Id: {{vegetable.id}} </div>
    <div>Name: {{ vegetable.name }}</div>
    <div>Description: {{ vegetable.description }}</div>
    <div>City: {{ vegetable.city }}</div>
    <br/>
  </div>
</amplify-authenticator>
<router-outlet></router-outlet>
